
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<style>
#custom-search-input {
        margin:0;
        padding: 0;
         margin-bottom: 25px;
             }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

body{
background: #2E3740;
}
.media-object{
	height: 50px;
	width: 50px;
}
.btn-blog {
	color: #ffffff;
	background-color: #37d980;
	border-color: #37d980;
	border-radius: 0;
	margin-bottom: 10px
}

.btn-blog:hover, .btn-blog:focus, .btn-blog:active, .btn-blog.active {
	color: white;
	background-color: #34ca78;
	border-color: #34ca78;
}
</style>
<div class="row">
	<div class="container">
	  <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" placeholder="Search" ng-model="searchTxt" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
            </div>
	
	<div ng-show="currentuser.role=='ADMIN'">
	 
	<h4 class="media-heading" style="color: white" ng-if="blogpostswaiting.length > 0">List of blogs for waiting</h4>
		<div class="well"
			ng-repeat="blogpost in blogpostswaiting | orderBy:'postedOn' | filter:searchTxt">
			<div class="media">
				<a class="pull-left" href=""> <img class="media-object"
					src="http://localhost:8086/collabbackend/getProfilepic/{{blogpost.postedby.username}}">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{blogpost.blogtitle}}</h4>
					<p class="text-right">By {{blogpost.postedby.username}}</p>
					<p>{{blogpost.blogdescription | limitTo : 325}}</p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i>
								{{blogpost.postedOn | date:'mediumDate'}} </span></li>
						<li>|</li>
						<span><i class="glyphicon glyphicon-comment"></i> 2
							comments</span>
						<li>|</li>
						<a class="btn btn-blog pull-right marginBottom10" href="#!blogpostforapproval/{{blogpost.blogpostId}}">READ MORE</a>

					</ul>

				</div>
			</div>
		</div>
	</div>
	
	<h4 class="media-heading" ng-show="currentuser.role=='ADMIN'" style="color: white">List of blogs Approved</h4>

		<div class="well"
			ng-repeat="blogpost in blogpostsapproved | filter:searchTxt" >
			<div class="media">
				<a class="pull-left" href=""> <img class="media-object"
					src="http://localhost:8086/collabbackend/getProfilepic/{{blogpost.postedby.username}}">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{blogpost.blogtitle}}</h4>
					<p class="text-right">By {{blogpost.postedby.username}}</p>
					<p>{{blogpost.blogdescription | limitTo : 325}}</p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar"></i>
								{{blogpost.postedOn | date:'mediumDate'}} </span></li>
						<li>|</li>
						<span><i class="glyphicon glyphicon-comment"></i> 2
							comments</span>
						<li>|</li>
						<a class="btn btn-blog pull-right marginBottom10" href="#!blogpostdetail/{{blogpost.blogpostId}}">READ MORE</a>

					</ul>

				</div>
			</div>
		</div>
	</div>
</div>
