<style>
.row{
margin-top:75px;
}
</style>
<div class="container">
<div class=row>
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogpost.blogtitle}}</div>

<span><strong>CreatedBy</strong> {{blogpost.postedby.username}}</span>

<span><strong>On:</strong> {{blogpost.postedOn}}</span>

</div>
<div class="panel-body">
<span><strong>Description: </strong> {{blogpost.blogdescription}}</span>
</div>
</div>

</div>

</div>
<form>
Accept/Reject<br>
<input type="radio" ng-model="blogpost.approved" value="true">Approve<br>
<input type="radio" ng-model="blogpost.approved" value="false">Reject<br>
<input type="submit" ng-click="updateApproval()" value="submit">
</form>

</div>