<style>
.row{
margin-top:75px;
}
</style>
<div class="container">
<div class=row>
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogpost.blogtitle}}</div>

<span><strong>CreatedBy</strong> {{blogpost.postedby.username}}</span>

<span><strong>On:</strong> {{blogpost.postedOn | date:'short'}}</span>

</div>
<div class="panel-body">
<span><strong>Description: </strong> {{blogpost.blogdescription}}</span>
</div>
</div>
</div>
<div>
<ul>
<li style="list:none" ng-repeat="comment in blogcomments | orderBy: '-commentedOn'">
{{comment.commenttxt}}<br>
commented by: {{comment.commentedby.username}}
commentedOn: {{comment.commentedOn | date:'short'}}
</li>
</ul>
</div>
</div>
<textarea rows="3" cols="10" ng-model="BlogComment.commenttxt"></textarea>
<button class="btn btn-default" ng-click="addcomment()">comment</button>
</div>