
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo-icon.png"/>

       <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="assets/css/owl.carousel.css" rel="stylesheet">
        <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="assets/css/magnific-popup.css" rel="stylesheet">

        <link href="assets/css/style.css" rel="stylesheet">


        </head>
    <body>
       
        <div class="main">
            <header class="bg-img header">
               
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Welcome to Collaborative Website </h1>
                                <p>Can able to see Blogs, Jobs, Friends after registering</p>
                                <a class="btn ubutia-btn" href="#!register" ng-hide="currentuser.username">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">About the website</h2>
                            <p>
                              This is a free bootstrap template. The template includes the complete source files for download such as HTML5, CSS, CSS3 and JavaScript for easy customization.
                            </p>
                            <img src="assets/images/signature.png">
                            <span>ubutia Studio-ceo</span>
                        </div>
                    </div>
                </div>
            </section>
           
            <section id="expertise" class="expert">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 bg-img">
                            <div></div>
                        </div>
                        <div class="col-sm-5 section">
                            <h2 class="title">Professional Design</h2>
                            <div id="expert-slider" class="owl-carousel">
                                <div class="item">
                                    <p>
                                       We specializes in professional design services for graphics design, web development, website design, portfolio design, professional small business design services and documents design. Need help? Consider using our professional designer to make your business growth up . There are advantages to using a professional that is experienced with web design, graphic design and conversion best practices. Call us now to find out more.
                                    </p>
                                </div>
                                <div class="item">
                                    <p>
                                         We specializes in professional design services for graphics design, web development, website design, portfolio design, professional small business design services and documents design. Need help? Consider using our professional designer to make your business growth up . There are advantages to using a professional that is experienced with web design, graphic design and conversion best practices. Call us now to find out more.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ubutia-quote section bg-img">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="quote" src="assets/images/quote.png">
                           <p>
                               Successful people do what unsuccessful people are not willing to do. Don't wish it were easier; wish you were better.
                           </p>
                           <p class="author">Jim Rohn</p>
                           <img src="assets/images/mouse.png">
                        </div>
                    </div>
                </div>
            </section>
           
            <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">Drop us a line</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-map-o" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Address</h3>
                                    <p>
                                        Level 5, 25 pitt st, US
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Phone</h3>
                                    <p>
                                        +555 211 3747
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ubutia-card">
                                <div class="ubutia-card-header">
                                        <span class="fa fa-paper-plane" aria-hidden="true"></span>
                                </div>
                                <div class="ubutia-card-content">
                                    <h3>Email</h3>
                                    <p>
                                        hey@freshdesignweb.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                                <ul>
                                    <a href=""><li><span class="ion-social-facebook"></span></li></a>
                                    <a href=""><li><span class="ion-social-twitter"></span></li></a>
                                    <a href=""><li><span class="ion-social-pinterest"></span></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>

        <script src="assets/js/jquery-3.1.1.js"></script>
         <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>