<form>
<input ng-model='job.jobtitle' placeholder='Username' type='text'><br><br>
<input ng-model='job.jobdescription' placeholder='Username' type='text'><br><br>
<input ng-model='job.skillsrequired' placeholder='Username' type='text'><br><br>
<input ng-model='job.location' placeholder='Username' type='text'><br><br>
<input ng-model='job.salary' placeholder='Username' type='text'><br><br>
<input ng-model='job.companyname' placeholder='Username' type='text'><br><br>
<input ng-model='job.yearsofexp' placeholder='Username' type='text'><br><br>
</form>