<style>
table{
margin-top:100px;
}
</style>
<table class="table table-striped">
<tbody>
<tr ng-repeat="friend in friends">

<td ng-if="currentuser.username!=friend.fromid">{{friend.fromid}}</td>

<td ng-if="currentuser.username!=friend.toid">{{friend.toid}}</td>

<td ng-if="currentuser.username!=friend.fromid">
<img src="http://localhost:8086/collabbackend/getProfilepic/{{friend.fromid}}" height="40px" width="40px" ></td>

<td ng-if="currentuser.username!=friend.toid">
<img src="http://localhost:8086/collabbackend/getProfilepic/{{friend.toid}} " height="40px" width="40px">
</td>
</tr>

</tbody>

</table>